<template name="Usr">

<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sanat Shah</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
  <div class="jumbotron">
	<br>
    <p>Here is a list of your top food options...</p>      
	<br>

	
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		Stop and Shop 
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
		<ul> 
			<li>Lettuce - 2 </li> 
			<li>Tomatoes - 3 lbs </li> 
		</ul> 
 <button type="button" class="btn btn-danger StopShopR">Reserve</button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		Whole Foods
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
		<ul> 
			<li>Milk - 2 gallons</li> 
			<li>Onions - 3 lbs </li> 
			<li>Chicken - 2</li> 
			<li>Garlic - 3 clove</li> 
		</ul> 
 <button type="button" class="btn btn-danger WholeFoodsR">Reserve</button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		Foodtown
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
		<ul> 
			<li>Lettuce - 2 </li> 
			<li>Tomatoes - 3 lbs </li> 
			<li>Bread - 3 loaves</li> 
		</ul> 
 <button type="button" class="btn btn-danger FoodTownR">Reserve</button>
      </div>
    </div>
  </div>
</div>







  </div>

  <div class="row">
    <div class="col-md-3">
      <p>Whole Foods has won donor of the week! They have had the freshest groceries for a week in a row!</p>
    </div>
    <div class="col-md-3"> 
      <p>Stop and Shop has a sale on onions. Buy one get one free!</p>
    </div>
    <div class="col-md-3"> 
	<p> whole Foods has BUY ONE ONION GET ONE FREE! Deal going on until 10/31/2015</p>
    </div>
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu 1 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Submenu 1-1</a></li>
            <li><a href="#">Submenu 1-2</a></li>
            <li><a href="#">Submenu 1-3</a></li>                        
          </ul>
        </li>
        <li><a href="#">Menu 2</a></li>
        <li><a href="#">Menu 3</a></li>
      </ul>
    </div>
    <div class="clearfix visible-lg"></div>
  </div>
</div>

</body>


</template>
